body {

    background-color: gray;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

#header {

    width: 100%;
    background-color: #e1e1e1;
    padding: 5px;
    height: 35px;

}

#logo {

    float: left;
    font-weight: bold;
    font-size: 25px;

}

#buttonContainer {

    width: 300px;
    margin: 0 auto;

}

.toggleButton {

    float: left;
    border: 1px solid black;
    padding: 5px;
    border-right: none;

}

.active {

    background: gray;

}

.heighlightButton {

    background-color: aqua;

}

#html {

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

}

#output {

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid black;

}

textarea {

    height: 90vh;
    width: 50%;
    resize: none;
    border-top: none;

}

iframe {
    float: left;
}

.panel {

    height: 90vh;
    width: 48%;
    float: left;

}

.hidden {
    display: none;

}